 .profile__avatar-button {
  background-image: url("../../../images/Vector1.svg");
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  border: 0;
  background-repeat: no-repeat;
  background-position: center;
  transition: .8s ease;
}

.profile__avatar-button:hover {
  opacity: .8;
  background-color: #000;
}

@media screen and (max-width: 900px) {
  .profile__avatar-button {
      margin: 0 auto 26px;
      left: 0;
      right: 0;
  }
}
