.login__button {
    width: 100%;
    margin-top: 220px;
    padding: 15px 0 15px;
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    border-radius: 2px;
    background-color: #FFFFFF;
    color: #000;
    opacity: 1;
}

.login__button:hover {
    opacity: 0.8;
    cursor: pointer;
}